###############################################################
## SLM CONFIG FILE
## Copyright Scaledb 2009
###############################################################

# port for SLM to listen for new connections
# slm_port = 4010

# check for heartbeat messages from nodes every X seconds
# heart_beat_seconds = 60

# if we have not gotten a heartbeat message in this amount of seconds it is a node failure
# heart_beat_threshold = 60

# this is the location of the node registry file
# the entry is required to run slm, on linux it will default as shown below
# the file does not have to exist when starting SLM
# if doing a recovery of slm, the file should exist
node_registry_file_name = /var/log/slm/node_registry.dat
